body{
	margin:0px;
	background:#DCDCDC;
}


.head{
  		width:100%;
  		height:200px;
  		background:#69F8DE;
  		
  		
}
.logo-png{
	width:100px;
	height:100px;
	margin-top:35px;
	margin-left:30px;
	border-radius:20px;
}
.logo{
	width:20%;
	height:180px;
	
	float:left;
}
.name{
	width:80%;
	height:180px;
	
	float:left;
}
.name-logo{
	font-size:50px;
	margin-left:30%;
	
}
.name-p{
	margin-left:25%;
}
.a{
	text-decoration:none;
}
h2{
	margin-top:0px;
	color:black;
}
.menu1{
	float:left;
	margin-left:80px;
	font-size:20px;
	
}
.menu2{
	float:left;
	margin-left:140px;
	font-size:20px;
	
}
.menu-contact{
	color:blue;
	font-size:40px;
	border-bottom:7px solid #003CFF;
}
.menu3{
	float:left;
	margin-left:140px;
	font-size:20px;
}
.menu4{
	float:left;
	margin-left:140px;
	font-size:20px;
}
.menu{
	border-bottom:2px solid black;
	height:50px;
	
	
}

.leader{
	margin-top:30px;
}
.ld{
	text-align:center;
	background:#FFDFDF;
	
}
.email{
	margin-top:80px;
}
h3{
	margin-left:30px;
	margin-top:40px;
}
.leader1{
	border-bottom:3px solid black;
	margin-bottom:70px;
	background:white;
}
.leader2{
	border-bottom:3px solid black;
	margin-bottom:70px;
	background:white;
}
span{
	color:blue;
}
.red{
	color:red;
}
.ce{
	color:red;
}
